(
    window: (1066.0, 600.0),
    bg: (img_w: 1400.0, img_h: 600.0, viewport_x: 60.0),
    master_volume: 1.0,
    bgm_volume: 0.1,
    sfx_volume: 0.5,
    time_scale: 1.0,
    menubar: (
        bar_left: 150.0,
        bar_top: 0.0,
        sun_counter_left: 10.0,
        sun_counter_bottom: 0.0,
        sun_counter_width: 56.0,
        sun_counter_height: 26.0,
        sun_counter_padding_top: 1.0,
        sun_target_left: 39.0,
        sun_target_top: 26.0,
    ),
)
